


.app__header {
    display: grid;
    grid-template-columns: 947px 469px;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 10px;
}

.app__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    a {
        color: #931212;
        text-decoration: none;
    }
}

.signin {
    margin: 0;
    padding: 0;
}

.app__menu ul {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    
}

.app__menu ul li {
    margin: 0 8px;
    display: block;
}

.app__menu li {
    display: block;
}

.app__menu button {
    border-radius: 5px;
    padding: 2px;
} 


